RewriteEngine On
RewriteBase /DEV-ADMN/

# Redireciona tudo para index.php se não for arquivo ou pasta
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
